body {
  background-image: url(../Images/loginbg.jpg);
  color: snow;
  line-height: 150%;
  text-indent: 15%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
form {
  border-top-left-radius: 55px;
  border-bottom-right-radius: 55px;
  font-size: 18px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  background-size: cover;
  width: fit-content;
  width: 250px;
  height: 400px;
  margin-top: 80px;
  border: double snow;
}
.form {
  margin: 18%;
}

#C {
  line-height: 130%;
  padding: 5px 0;
  margin: 0;
  background-color: black;
  color: snow;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 98%;
  text-align: left;
  word-spacing: 5px;
  letter-spacing: 1px;
  background-image: url(../Images/logo.jpg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: center;
}

.login,
.button {
  background-color: transparent;
  background-color: white;
  color: black;
  border: 1.5px solid black;
  border-radius: 9px;
  text-decoration: none;
  text-align: center;
  width: 80%;
  height: 30px;
  cursor: pointer;
  font-weight: 900;
}
a {
  text-decoration: none;
}
a :hover {
  color: snow;
  background-color: rgb(11, 184, 228);
}
span {
  color: gold;
}
.login:hover {
  color: snow;
  background-color: rgb(11, 184, 228);
}
.des {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}
.button {
  font-size: 13px;
  font-weight: 900;
  justify-content: center;
  align-content: center;
}
